/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/FloodDetection.AssemblyInfo.cs
/obj/Debug/net8.0/FloodDetection.AssemblyInfoInputs.cache
/obj/Debug/net8.0/FloodDetection.assets.cache
/obj/Debug/net8.0/FloodDetection.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/FloodDetection.GlobalUsings.g.cs
/obj/FloodDetection.csproj.nuget.dgspec.json
/obj/FloodDetection.csproj.nuget.g.props
/obj/FloodDetection.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
